[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bhm"]
	path = bhm
	url = https://github.com/statapps/bhm
[submodule "lpl"]
	path = lpl
	url = https://github.com/statapps/lpl
